* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  font-size: 16px;
}
input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  font-size: 16px;
}
input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  font-size: 16px;
}
input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  font-size: 16px;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
.header_top {
  width: 100%;
  height: 45px;
  background-color: #DB3727;
}
.header_top_center,
.header_bottom_center {
  max-width: 1240px;
  height: 45px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_main_nav {
  margin-right: auto;
  margin-left: 50px;
}
.header_main_nav a {
  font-weight: bold;
  text-decoration: none;
  height: 46px;
  line-height: 45px;
  padding: 0 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
}
.header_main_nav a:hover {
  background-color: #fff;
  color: #DB3727;
}
.header_secondary_nav {
  margin-left: 20px;
  position: relative;
}
.header_secondary_nav a {
  color: #000;
  font-size: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
.header_secondary_nav a:hover {
  color: #DB3727;
}
.secondary_link_active:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 100%;
  background-color: #DB3727;
}
.logo_header {
  margin-left: 20px;
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #fff;
}
.header_item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
}
.header_item a {
  text-decoration: none;
}
.header_link_sell {
  background-color: #55BB00;
  display: block;
  height: 45px;
  width: 110px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: right;
  padding: 0 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
  color: #fff;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_link_sell:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 13px;
  width: 22px;
  height: 22px;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  background-image: url(../img/plus.svg);
}
.header_link_sell:hover {
  background-color: #fff;
  color: #DB3727;
}
.header_link_sell:hover:before {
  background-image: url(../img/plus_hover.svg);
}
.header_link_sell i {
  font-size: 24px;
  margin-right: 5px;
}
.header_link_in {
  display: block;
  height: 45px;
  padding: 0 17px;
  line-height: 45px;
  margin-right: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
}
.header_link_in:hover {
  background-color: #fff;
  color: #DB3727;
}
.header_bottom {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.select2-container--open .select2-dropdown--below {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.header_region {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_region label {
  position: relative;
  width: 186px;
}
.header_region label select {
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  width: 100%;
  height: 36px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.header_region label:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #888;
  position: absolute;
  right: 7px;
  top: 16px;
  z-index: 1;
}
.header_region label:before {
  content: attr(placeholder);
  position: absolute;
  left: 9px;
  top: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.header_region .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.header_region .select2-container--default .select2-selection--single {
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 36px;
}
.header_region .select2-container--default .select2-selection--single:focus {
  outline: none;
}
.header_region .select2-container--default .select2-selection--single:hover {
  border: 1px solid #157EE1;
}
.header_region .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 5px;
  z-index: 2;
  background-color: #fff;
}
.header_region .select2-container--default .select2-search--dropdown {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.header_region .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
}
.header_region_title span {
  margin-right: 5px;
  color: #999;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_region_title i {
  font-size: 20px;
  margin-right: 5px;
  position: relative;
  top: 1px;
}
.content {
  max-width: 1240px;
  margin: 0 auto;
  overflow: hidden;
}
.content_left {
  max-width: 920px;
  float: left;
}
.news_item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 25px;
}
.news_item .news_item_content {
  margin-left: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.news_item img {
  -webkit-border-radius: 3px;
          border-radius: 3px;
}
.news_item .news_category_link {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  text-transform: lowercase;
}
.news_item .news_category_link:hover {
  text-decoration: underline;
}
.news_item h3 {
  margin-top: 10px;
  margin-bottom: 4px;
  font-family: "Tames New Roman";
}
.news_item h3 a {
  color: #000;
  text-decoration: none;
  font-size: 22px;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.news_item h3 a:hover {
  color: #DB3727;
}
.news_item p {
  line-height: 20px;
  font-family: "Tames New Roman";
}
.news_item .news_more {
  color: #157EE1;
  text-decoration: none;
  font-weight: bold;
  margin-top: auto;
  width: 200px;
}
.news_item .news_more:hover {
  text-decoration: underline;
}
.content_right {
  width: 300px;
  float: right;
}
.content_head {
  margin-left: 20px;
}
.content_head h1 {
  font-size: 25px;
}
.filter_car {
  margin-top: 10px;
  padding: 10px 20px  0;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
}
.filter_car .select2-container--default .select2-selection--single {
  height: 36px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.filter_car .select2-container--default .select2-selection--single:focus {
  outline: none;
}
.filter_car .select2-container--default .select2-selection--single:hover {
  border: 1px solid #157EE1;
}
.filter_car .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 5px;
  z-index: 2;
  background-color: #fff;
}
.filter_car .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
}
.filter_car .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.filter_car label {
  position: relative;
  width: 100%;
}
.filter_car label select {
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  width: 100%;
  height: 36px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.filter_car label:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #888;
  position: absolute;
  right: 7px;
  top: 16px;
  z-index: 1;
}
.filter_car label:before {
  content: attr(placeholder);
  position: absolute;
  left: 9px;
  top: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.filter_car_row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.filter_car_column {
  width: 280px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12px;
}
.filter_car_column .select2-container {
  width: 100% !important;
}
.filter_car_runfrom,
.filter_car_runto {
  width: 47%;
  font-size: 16px;
  color: #444;
  padding-left: 7px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  height: 36px;
}
.filter_car_runfrom:focus,
.filter_car_runto:focus {
  outline: none;
}
.filter_car_runfrom:hover,
.filter_car_runto:hover {
  border: 1px solid #157EE1;
}
.filter_car_dist label {
  width: 48%;
}
.filter_car_btn {
  width: 280px;
  height: 35px;
}
.filter_car_btn {
  float: right;
  margin: 20px 0 20px;
  background-color: #157EE1;
  border: none;
  font-size: 16px;
  color: #fff;
  font-size: 15px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.filter_car_btn:hover {
  background-color: #2c8be4;
}
.filter_car_link_all {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.filter_car_link_all:hover {
  color: #DB3727;
}
.icon_close-small {
  width: 25px;
  height: 25px;
}
.brands_auto {
  margin-top: 15px;
  padding: 0 20px;
}
.brands_auto a {
  color: #888;
  text-decoration: none;
}
.brands_auto_show {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.brands_auto_logo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.brands_auto_logo a {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.brands_auto_logo a:hover {
  opacity: 0.5;
}
.brands_auto_more {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
.brands_auto_item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 184px;
}
.brands_auto_item a {
  font-size: 15px;
  padding: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #000;
}
.brands_auto_item a:hover {
  color: #DB3727;
}
.brands_auto_item a span {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 8px;
}
.brands_auto_btn_show {
  font-size: 15px;
  color: #000;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 5px;
}
.brands_auto_btn_show i {
  font-size: 13px;
  margin-left: 5px;
}
.brands_auto_btn_show:hover {
  color: #DB3727;
}
.car_list {
  margin-top: 25px;
  margin-left: 20px;
}
.car_list_sort {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content_right_banner {
  text-decoration: none;
}
.car_list_sort_left {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.car_list_sort_left .select2-container--default .select2-selection--single {
  height: 36px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.car_list_sort_left .select2-container--default .select2-selection--single:focus {
  outline: none;
}
.car_list_sort_left .select2-container--default .select2-selection--single:hover {
  border: 1px solid #157EE1;
}
.car_list_sort_left .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 5px;
  z-index: 2;
  background-color: #fff;
}
.car_list_sort_left .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
}
.car_list_sort_left .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #444;
}
.car_list_sort_left label {
  position: relative;
  width: 100%;
}
.car_list_sort_left label select {
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  width: 100%;
  height: 36px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #444;
  font-size: 16px;
  padding-left: 8px;
}
.car_list_sort_left label:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #888;
  position: absolute;
  right: 7px;
  top: 16px;
  z-index: 1;
}
.bigdrop {
  width: 250px;
}
.car_item_data {
  margin-left: 20px;
}
.car_main_item {
  margin-top: 0;
}
.car_item {
  padding: 15px 20px;
  background: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  text-decoration: none;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.car_item:hover {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0px 9px 25px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 9px 25px 0px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0);
}
.car_item:hover + .car_item {
  border-top: 1px solid rgba(0, 0, 0, 0);
}
.car_item:hover h3 {
  color: #DB3727;
}
.car_item h3 {
  font-size: 17px;
  color: #000;
  margin-bottom: 5px;
}
.car_item img {
  width: 205px;
  height: 155px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.car_item_data_row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}
.car_item_data_column {
  margin-right: 30px;
}
.car_item_data_column:nth-child(1) {
  width: 300px;
  margin-right: 15px;
}
.car_item_price {
  font-size: 17px;
  font-weight: bold;
}
.car_item_price_top {
  padding: 5px 8px;
  display: block;
  color: #fff;
  background-color: #55BB00;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  position: relative;
  top: -4px;
}
.car_item_data_param {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.car_item_data_param_column {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.car_item_data_param_column span {
  margin-top: 5px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.car_item_data_param_column + .car_item_data_param_column {
  margin-left: 40px;
}
.icon_top {
  width: 14px;
  height: 14px;
}
.car_item_city span {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}
.content_right {
  margin-top: 20px;
}
.content_left_banner_1 {
  margin-top: 25px;
  margin-left: 20px;
}
.pagination_link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pagination_link_group {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pagination_link_group a.active {
  background-color: #F0F0F0;
  pointer-events: none;
  cursor: default;
  color: rgba(0, 0, 0, 0.38);
}
.pagination_link_group a {
  color: rgba(0, 0, 0, 0.38);
  display: block;
  text-decoration: none;
  padding: 7px 15px;
  color: #000;
  border: 1px solid #F0F0F0;
  font-size: 13px;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.pagination_link_group a:hover {
  background-color: #157EE1;
  color: #fff;
}
.pagination_link_group a:first-child {
  -webkit-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px;
}
.pagination_link_group a:last-child {
  -webkit-border-top-right-radius: 3px;
          border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
          border-bottom-right-radius: 3px;
}
.pagination_link_ctrl {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 70px;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.pagination_link_ctrl a.disabled {
  background-color: #F0F0F0;
  pointer-events: none;
  cursor: default;
  color: rgba(0, 0, 0, 0.38);
}
.pagination_link_ctrl a + a {
  margin-left: 10px;
}
.pagination_link_ctrl a {
  color: rgba(0, 0, 0, 0.38);
  display: block;
  text-decoration: none;
  padding: 7px 15px;
  color: #000;
  border: 1px solid #F0F0F0;
  font-size: 13px;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.pagination_link_ctrl a:hover {
  background-color: #F0F0F0;
}
.footer {
  padding-bottom: 10px;
}
.footer_content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 170px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1240px;
  margin: 0 auto;
}
.footer_nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 40px;
}
.footer_nav ul {
  list-style-type: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_nav li + li {
  margin-left: 40px;
}
.footer_nav a {
  text-decoration: none;
  color: #157ee1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.footer_nav a:hover {
  color: #DB3727;
}
.footer_bottom {
  margin-top: 50px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_bottom span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
}
.footer_logo {
  margin: 0 40px;
}
.footer_logo img {
  width: 140px;
}
.footer_social {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_social a {
  display: block;
  height: 22px;
  width: 22px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #B2B2B2;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 13px;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.footer_social a:hover {
  opacity: 0.5;
}
.footer_social a i {
  color: #fff;
}
.footer_social a + a {
  margin-left: 5px;
}
.bread_crumb {
  margin: 30px 0;
}
.bread_crumb ul {
  list-style-type: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bread_crumb li {
  margin-right: 10px;
  position: relative;
}
.bread_crumb li:after {
  content: '—';
  margin-left: 10px;
}
.bread_crumb li:last-child:after {
  content: '—';
  margin-left: 10px;
  display: none;
}
.bread_crumb a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.bread_crumb a:hover {
  color: #DB3727;
}
.bread_crumb a.active {
  color: #000;
  font-weight: bold;
}
.content_card {
  margin-left: 20px;
}
